
.block {

    display: inline-block ;
    margin-left: 0px;
    height:100%;
    width: 300px;
}

.socialblock {
    display: inline-block ;
    margin-left: 0px;
    height:100%;
    width: 100px;

}




